$width: 1170px;
$input-width: 400px;
$article-button-color: #6f72f7;

@mixin standartFont($color, $size) {
    font-family: "Verdana";
    color: $color;
    size: $size;
}
@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }

@mixin input-after {
    &::after {
        content: "fff";
        
    }
}

@mixin article-button ($right-left){
    background-color: $article-button-color;
    font-family: "Verdana";
    color: white;
    border: none;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: $right-left;
    padding-left: $right-left;
    border-radius: 30px;
}

@mixin header-buttons {
    background-color: #3c4b7a;
    font-family: "Verdana";
    color: white;
    border: none;
    height: auto;
    
}
header{
    background-image: url(images/background.png);
    background-position: center;
    background-size: 100%;
    @media screen and (max-width: 480px){
        width: 480px / $width * 100%;
    }
}
.wrapper{
    // width: $width;
    
    margin: auto;

    .menu-background{
        background-color: #3c4b7a;
        
    }
    .menu{
        width: $width;
        background-color: #3c4b7a;
        
        margin: 0 auto;
        @include clearfix();
        h1{
            @include standartFont(white, 24px);
            float: left;
        }
    
        button{
            margin-top: 30px;
            // background-color: #3c4a7a;
            float: right;
            @include header-buttons();
        }
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
    .header-content{
        text-align: center;
        padding-top: 220px;
        padding-bottom: 285px;
        @include standartFont(white, 20px);
        input{
            width: $input-width;
            border-radius: 30px;
            border: none;
            padding: 15px;
        }
        
    }
    @media screen and (max-width: 480px){
        // width: 100%;
        // margin: 0 auto;
        // text-align: center;
    }
}

article{
    // width: $width;
    background-color: #f4f4f4;
    padding: 20px;
    padding-bottom: 125px;
    .article-content{
        width: $width;
        margin: 0 auto;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
    form{
        padding-bottom: 120px;
        input{
            border-radius: 30px;
            border: none;
            padding: 15px;
        }
        button{
            @include article-button(30px);
        }
        .inputs{
            width: 600px;
            background-color: white;
            border-radius: 30px;
            display: inline-block;
        }
        @media screen and (max-width: 480px) {
            width: 100%;
            input{
                width: 50%;
                margin: 10px;
            }
        }
    }

    .galereya{
        @include clearfix();
        margin: auto;
        .small-img{
            width: 360px;
            height: 360px;
            overflow: hidden;
            float: left;
            padding: 10px;
            position: relative;

        }
        .big-img{
            width: 740px;
            height: 360px;
            overflow: hidden;
            float: left;
            padding: 10px;
            position: relative;
        }

        // @media screen and (max-width: 480px){
        //     width: 100%;
        //     .small-img, .big-img{
        //         float: none;
        //         // width: 100%;
        //     }
        // }
        .hover-fon{
            width: 370px;
            height: 370px;
            // background-color: red;
            position: absolute;
            top: 10px;
            bottom: 0;
            right: 0;
            left: 10px;
            &:hover{
                transition: 0.5s;
                background-color: rgba(1, 1, 1, 0.7);
                h2{
                    transition: 0.5s;
                    top: 145px;
                    left: 105px;
                }
            }
            &:not(:hover){
                transition: 0.5s;
                background-color: rgba(1, 1, 1, 0);
                h2{
                    transition: 0.5s;
                    top: 380px;
                    left: 105px;
                }
            }
            h2{
                position: absolute;
                @include standartFont(white, 24px);
                top: -60px;
               
            }
            
        }

        

        .hover-fon-big{
            width: 750px;
            height: 370px;
            // background-color: red;
            position: absolute;
            top: 10px;
            bottom: 0;
            right: 0;
            left: 10px;
            &:hover{
                transition: 0.5s;
                background-color: rgba(1, 1, 1, 0.7);
                h2{
                    transition: 0.5s;
                    top: 145px;
                    left: 300px;
                }
            }
            &:not(:hover){
                transition: 0.5s;
                background-color: rgba(1, 1, 1, 0);
                h2{
                    transition: 0.5s;
                    top: 380px;
                    left: 300px;
                }
            }
            h2{
                position: absolute;
                @include standartFont(white, 24px);
                top: 380px;
                left: 300px;
            }

        }
    }


    @media screen and (max-width: 480px){
        width: 480px / $width * 100%;
        
    }
}

.houses-menu{
    width: $width;
    padding: 20px;
    padding-top: 125px;
    text-align: center;
    margin: auto;
    // text-align: center;
    h2{
        @include standartFont(black, 24px);
        font-weight: 100;
        text-align: center;
    }
    button{
        @include article-button(80px);
        margin-top: 100px;
        margin-bottom: 100px;
    }
    @media screen and (max-width: 480px) {
        width: $width / 480px * 100%;
    }
}
.adverts{
    padding-top: 210px;
    @include clearfix();
    .advert{
        float: left;
        width: 555px;
        // height: 205px;;
        .advert-img{
            width: 220px;
            height: 205px;
            overflow: hidden;
            // float: left;
            display: inline-block;
        }
        @media screen and (max-width: 480px){
            float: none;
            // width: 100%;
            // margin: 0 auto;
            // text-align: center;
        }  
    }
    .advert-p{
        display: inline-block;
        .advert-main-p{
            @include standartFont(black, 18px);
            font-weight: 500;
        }
        .advert-submain-p{
            @include standartFont(gray, 18px);
        }
        .advert-price{
            @include standartFont(red, 24px);

        }
    }
    // @media screen and (max-width: 480px){
    //     width: $width / 480px * 100%;
        
    // }
}

.second-galereya{
    width: $width;
    margin: auto;
    text-align: center;
    button{
        @include article-button(80px);
        margin-top: 90px;
        margin-bottom: 150px;
    }
    h2{
        @include standartFont(black, 24px);
        font-weight: 100;
        padding-bottom: 105px;
    }
    .images{
        @include clearfix();
        .img{
            width: 360px;
            height: 190;
            padding: 10px;
            overflow: hidden;
            float: left;
            img{
                width: 360px;
                height: 190;
                overflow: hidden;
            }
            @media screen and (max-width: 480px) {
                float: none;
                width: 100%;
            }
        }
    }
    // @media screen and (max-width: 480px) {
    //     width: $width / 480px * 100%;
        
    // }
}
.second-galereya-main-p{
    @include standartFont(black, 24);
    font-weight: bolder;
}

.second-galereya-date{
    @include standartFont(gray, 24);

}

.contact{
    background-color: #43434f;
    h2{
        @include standartFont(white, 24px);
        padding-top: 70px;
        padding-bottom: 70px;
        font-weight: 100;
    }
    .container{
        margin: auto;
        text-align: center;
        width: 360px;
        
    }
    form{
        width: 360px;
        margin: 0 auto;
        input{
            border-radius: 30px;
            border: none;
            padding: 15px;
            margin-bottom: 10px;
            width: 325px;
        }
        textarea{
            background-color: #43434f;
            color: white;
            border: none;
            width: 325px;
            @include standartFont(white, auto);
        }
        button{
            @include article-button(40%);
            margin-bottom: 115px;
        }
    }
}

.footer-wrapper{
    width: $width;
    margin: 0 auto;
    padding-top: 140px;
    @include clearfix();
    .footer-main-p{
        @include standartFont(gray, 18px);
    }
    .footer-menu{
        width: 70px;
        float: left;
    }
    a{
        @include standartFont(#6f72f7, 16px);
        text-decoration: none;
    }
    .know-more{
        width: 92px;
        float: left;
        padding-left: 120px;
    }
    .partners{
        width: 100px;
        float: left;
        padding-left: 120px;
    }
    .contacts{
        width: 166px;
        float: left;
        padding-left: 120px;
        
    }
    .footer-contact-p{
        @include standartFont(black, 12px);
        
    }
    .social{
        float: right;
        .facebook{
            width: 24px;
            height: 24px;
            background-image: url(images/sprite1.png);
            display: inline-block;
        }
        .twitter{
            width: 24px;
            height: 24px;
            background-image: url(images/sprite1.png);
            background-position: 24px 0;
            display: inline-block;
        }
        .youtube{
            width: 24px;
            height: 24px;
            background-image: url(images/sprite1.png);
            background-position: 57px 0;
            display: inline-block;
        }
    }
    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.end{
    width: $width;
    margin: 0 auto;
    padding-top: 50px;
    .item{
        padding-top: 20px;
        @include clearfix();
        .end-p{
            float: left;
            @include standartFont(gray, 14px);
        }
        .end-link{
            float: right;
            @include standartFont(gray, 14px);
        }
        
    }
    // @media screen and (max-width: 480px) {
    //     width: 100%;
    // }
}
footer{
    @media screen and (max-width: 480px) {
        width: 480px / $width * 100%;
    }
}
