.but{
    font-size: 20px;
    color: white;
    background-color: greenyellow;
    border-radius: 30px;
    padding: 12px;
}

.test::before{
    content: "";
    width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-right: 70px solid red;
	border-bottom: 30px solid transparent;
}

.test::after{
    content: "";
    width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-left: 70px solid red;
	border-bottom: 30px solid transparent;
}

.test{
    padding: 20px;
}