body{
    padding: 0;
    margin: 0;
    background-image: url("images/full-background.png");
    background-attachment: fixed;
    background-position-x: 0;
    background-position-y: bottom;
    
}

.player{
    width: 100px;
    height: 120px;
    // background-color: black;
    margin-top: 33.5%;
    margin-left: 30px;
    background-image: url("images/static2.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}

.player-run{
    animation: run 0.5s infinite;
    //height: 120px;
}

.player-run-back{
    animation: run-back 0.5s infinite;
    //height: 120px;
}

@keyframes run {
    0%{
        background-image: url("images/static2.png");
    }
    50%{
        background-image: url("images/walk1.png");
        
    }
    100%{
        background-image: url("images/static2.png");
    }
}

@keyframes run-back {
    0%{
        background-image: url("images/static2.png");
        transform: scale(-1, 1)
    }
    50%{
        background-image: url("images/walk1.png");
        transform: scale(-1, 1)
        
    }
    100%{
        background-image: url("images/static2.png");
        transform: scale(-1, 1)
    }
}