@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=cyrillic');

*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.header{
    background-color: #353535;
    width: 100%;
    height: 710px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1{
    color: white;
    letter-spacing: 10px;
    font-size: 4rem;
    border: 6px solid #c6a653;
    padding: 10px;
    margin-bottom: 15px;
}

.header h2{
    color: white;
    letter-spacing: 5px;
    font-size: 2rem;
    font-weight: 400;
}

.contact-header{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.contact-header p:first-child{
    border-right: 2px solid white;
    padding-right: 20px;
}

.contact-header p:last-child{
    border-left: 2px solid white;
    padding-left: 20px;
}

.contact-header *{
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 22px;
}

.container{
    width: 1024px;
    /* background-color: red; */
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
}

.skills{
    border-right: 3px solid #252525;
    padding-right: 25px;
    width: 90%
}

.skills h2{
    color: #c6a653;
}

.skills h2::after{
    content: "";
    display: block;
    background-color: #c6a653;
    /* width: 160px; */
    width: 95%;
    height: 2px;
    margin: 20px 0;
}


.item{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    /* width: 445px; */
    width: 100%;
}

.item ul{
    list-style: none;
    /* margin: 0 5px; */
    /* font-weight: bold; */
}

.item ul li{
    padding-top: 15px;
    /* margin: 0 5px; */
    /* font-weight: bold; */
}

.item ul i{
    font-size: 25px;
    /* color: #3CA4FF; */
    color: #c6a653;
}

.item .col-1 ul{
    list-style: none;
    /* margin: 0 5px; */
    padding-right: 20px;
    font-weight: bold;
}

.skills .item .col-2{
    /* width: 200px; */
    padding-left: 50px;
}

.work-exp .item .col-1 li{
    width: 140px;
}

.experiences{
    padding-left: 25px;
}

.experiences a{
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #252525;
    transition: 1s;
}

.experiences a:hover{
    transition: 1s;
    text-decoration: underline;
}

.experiences h2{
    color: #c6a653;
    padding-top: 30px;
}

.experiences h2::after{
    content: "";
    display: block;
    background-color: #c6a653;
    /* width: 160px; */
    width: 95%;
    height: 2px;
    margin: 20px 0;
}

.stars{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8.6px;
}

.stars:first-child{
    margin-top: 0;
}

.star{
    width: 17px;
    height: 8px;
    /* background-color: #252525; */
    margin-top: 3px;
    margin-left: 10px;

    background: -webkit-linear-gradient(left, #252525, #33235B, #D62229, #E97639, #792042, #33235B);
    background: linear-gradient(left, #252525, #33235B, #D62229, #E97639, #792042, #33235B);
    background-size: 3200px 200px;
    color: transparent;
        -webkit-background-clip: content-box;
        -webkit-animation: animate-logo;
        -webkit-animation-delay: 0;
        -webkit-animation-duration: 7s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-fill-mode: forwards;
    transition: font-size 500ms ease-in-out;
}


.star-empty{
    width: 17px;
    height: 8px;
    /* background-color: #252525; */
    margin-top: 3px;
    margin-left: 10px;

    background-color: #babab9 !important;
}

.work-exp{

}


.border-animation {
  --border-width: 0.1em;
  --animation-speed: 0.5s;
  --color: #ffffff;
  color: var(--color);
  position: relative;
  display: inline-block;
  font-size: 2rem;
  /* line-height: 1em; */
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
  border: var(--border-width) solid transparent;
}

.border-animation .border-animation__inner {
  position: relative;
  display: inline-block;
  /* width: 100%; */
  font-family: 'Six Caps', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  padding: 0.2em;
  background: #333;
  z-index: 1;
  border: solid var(--border-width) transparent;
}
.border-animation:before, .border-animation:after {
  content: '';
  position: absolute;
  background: var(--color);
}
.border-animation:focus:before, .border-animation:hover:before {
  -webkit-animation: beforeBorders var(--animation-speed) forwards ease-in-out;
          animation: beforeBorders var(--animation-speed) forwards ease-in-out;
}
.border-animation:focus:after, .border-animation:hover:after {
  -webkit-animation: afterBorders var(--animation-speed) forwards ease-in-out;
          animation: afterBorders var(--animation-speed) forwards ease-in-out;
}
.border-animation:focus, .border-animation:hover {
  -webkit-animation: borderColors var(--animation-speed) steps(1) forwards;
          animation: borderColors var(--animation-speed) steps(1) forwards;
  outline: none;
}
.border-animation:focus .border-animation__inner, .border-animation:hover .border-animation__inner {
  -webkit-animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
          animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
  -webkit-animation-delay: calc(var(--animation-speed) / 5 * 2);
          animation-delay: calc(var(--animation-speed) / 5 * 2);
}

@-webkit-keyframes beforeBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: 50%;
    bottom: auto;
    right: auto;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}

@keyframes beforeBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: 50%;
    bottom: auto;
    right: auto;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}
@-webkit-keyframes afterBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: 50%;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: auto;
    bottom: calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}
@keyframes afterBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: 50%;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: auto;
    bottom: calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}
@-webkit-keyframes borderColors {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  33% {
    border-top-color: var(--color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  66% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: transparent;
    border-left-color: var(--color);
  }
  100% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: var(--color);
    border-left-color: var(--color);
  }
}
@keyframes borderColors {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  33% {
    border-top-color: var(--color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  66% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: transparent;
    border-left-color: var(--color);
  }
  100% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: var(--color);
    border-left-color: var(--color);
  }
}
@-webkit-keyframes background {
  to {
    background: #555;
    text-shadow: 0 0.1em 0.1em #111;
  }
}
@keyframes background {
  to {
    background: #555;
    text-shadow: 0 0.1em 0.1em #111;
  }
}

@-webkit-keyframes animate-logo {
    0% {
    background-position: 0 3200px;
    }
    100% {
    background-position: 3200px 0;
    }
   }


@media only screen and (min-width: 320px) and (max-width: 1024px) {
    /* styles for browsers larger than 1440px; */
    body{
        width: 100%;
    }

    .container{
        flex-direction: column;
        width: 95%;
    }

    .header{
        width: 100%;
    }

    .header h1{
        font-size: 2.5rem;
    }

    .skills{
        border-right: none;
        padding-right: 0;;
    }
    .experiences{
        padding-left: 0;
        width: 100%;
    }

    .work-exp{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .work-exp .item{
        /* border-left: 1px solid #252525; */
        padding-left: 10px;
        /* width: 100%; */
        flex-direction: column;
    }

    .work-exp .item .col-1 li{
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px){
    .contact-header{
        flex-direction: column;
        align-items: center;
    }

    .header h1{
        font-size: 1.8rem;
        text-align: center;
    }

    .header h2{
        font-size: 1.5rem;
        text-align: center;
    }

    .contact-header p:first-child{
        border-right: none;
        padding-right: 0;
    }
    
    .contact-header p:last-child{
        border-left: none;
        padding-left: 0;
    }
    .contact-header p{
        padding: 0;
        margin-top: 10px;
    }

    .skills .item .col-2{
        padding-left: 0;
    }

    .star{
        width: 15px;
        margin-left: 0;
    }
    .container{
        padding: 0;
    }
}