header {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%; }
  header .container {
    margin-top: 260px;
    margin-bottom: 260px; }
    header .container h1 {
      color: white; }
    header .container .header-button {
      padding: 10px 50px;
      background-color: #54d154;
      border-radius: 30px;
      border: none;
      color: white; }

.navigate a {
  color: white; }
  .navigate a:hover {
    color: white;
    font-weight: bold;
    border-top: 5px solid #54d154; }

.devider {
  width: 45px;
  height: 2px;
  background-color: gray;
  text-align: center; }

article .container {
  margin-top: 40px; }

article .row:nth-child(1) h2 {
  color: gray;
  font-weight: 400;
  letter-spacing: 6px; }

article .row:nth-child(1) p {
  color: gray; }

article .merits {
  margin-top: 60px; }
  article .merits h2 {
    font-weight: bold; }
  article .merits button {
    padding: 6px 30px;
    background-color: #54d154;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px; }

.gallery {
  background-color: #54d154;
  padding: 20px 0; }
  .gallery .devider {
    background-color: #2b9b2b; }
  .gallery h2 {
    color: #2b9b2b; }
  .gallery p {
    color: #2b9b2b; }
  .gallery .slide-btn {
    padding: 5px 20px;
    background-color: white;
    border-radius: 30px;
    border: none;
    color: #2b9b2b;
    border-radius: 0;
    outline: none; }
    .gallery .slide-btn:focus {
      background-color: #2b9b2b;
      color: white; }
    .gallery .slide-btn:nth-child(1) {
      border-left: 1px solid;
      border-radius: 30px 0 0 30px;
      margin-left: 20px; }
    .gallery .slide-btn:nth-child(3) {
      border-left: 1px solid;
      border-radius: 0 30px 30px 0; }
  .gallery .gallery-photo {
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin-top: 30px;
    margin: auto;
    margin-bottom: 30px; }
    .gallery .gallery-photo .glr-btn {
      padding: 5px 20px;
      background-color: #2b9b2b;
      border-radius: 30px;
      border: none;
      color: white; }
  .gallery .photos {
    margin-top: 30px; }
    .gallery .photos .glr-btn {
      padding: 5px 25px;
      background-color: #2b9b2b;
      border-radius: 30px;
      border: none;
      color: white;
      margin: 60px 0; }

.sliders {
  margin-top: 40px; }
  .sliders .row:nth-child(1) h2 {
    color: gray;
    font-weight: 400;
    letter-spacing: 6px; }
  .sliders .row:nth-child(1) p {
    color: gray; }

.carusel {
  margin-top: 60px; }
  .carusel .text {
    width: 100%;
    max-width: 300px;
    margin: auto; }
  .carusel p {
    font-weight: bold; }
  .carusel i {
    color: gray; }

.happy-client {
  margin-top: 60px;
  padding-top: 35px;
  padding-bottom: 60px;
  background-color: #f2f1f1; }
  .happy-client .row:nth-child(1) h2 {
    color: gray;
    font-weight: 400;
    letter-spacing: 6px; }
  .happy-client .row:nth-child(1) p {
    color: gray; }

.clients .row {
  padding-top: 60px; }

.clients .row:nth-child(1) div {
  margin-bottom: 50px; }

.clients .row:nth-child(2) div {
  margin-bottom: 50px; }

.clients button {
  padding: 10px 25px;
  background-color: #dddcdc;
  border-radius: 30px;
  border: none;
  color: #a9a1a1; }
  .clients button i {
    padding-left: 20px; }

.team {
  background-color: #54d154;
  padding-top: 60px; }
  .team .row:nth-child(1) h2 {
    color: #2b9b2b;
    font-weight: 400;
    letter-spacing: 6px; }
  .team .row:nth-child(1) p {
    color: #2b9b2b; }
  .team .row:nth-child(1) .devider {
    background-color: #2b9b2b; }
  .team .row {
    color: white; }
  .team .row:nth-child(2) {
    padding-top: 60px; }
  .team .team-photo {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: white; }
  .team .timeline {
    width: 2px;
    height: 77px;
    padding-top: 10px;
    margin-top: 10px;
    background-color: #2b9b2b; }
  .team .team-links {
    border-radius: 30px;
    background-color: white;
    margin-bottom: 20px; }
    .team .team-links img {
      padding: 3px; }

.work-with-us {
  background-color: #2b9b2b;
  padding-top: 30px;
  padding-bottom: 30px; }
  .work-with-us button {
    padding: 10px 25px;
    background-color: #54d154;
    border-radius: 30px;
    border: none;
    color: white;
    -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3); }

.info {
  background-color: #333333;
  padding-top: 30px;
  padding-bottom: 30px; }
  .info h3 {
    color: white;
    font-weight: 400;
    letter-spacing: 6px; }
  .info p {
    color: white; }
  .info .devider {
    background-color: white; }
  .info .team-links {
    border-radius: 30px;
    background-color: white;
    margin-bottom: 20px; }
    .info .team-links img {
      padding: 3px; }

.about-us {
  padding: 0 25px; }
  .about-us p {
    margin-top: 20px; }

.items {
  margin-top: 20px; }
  .items .recent-photo {
    width: 53px;
    height: 53px;
    overflow: hidden;
    border-radius: 2px; }
  .items p {
    margin-bottom: 0; }
  .items .item-1 {
    margin-bottom: 10px; }
    .items .item-1 .description {
      margin-left: 5px; }

.contact-us p {
  padding: 0 100px; }

.contact-us input {
  width: 322px;
  background-color: #444444;
  color: gray;
  padding: 5px 15px;
  border: none;
  outline: none; }
  .contact-us input:nth-child(1) {
    border-radius: 5px 5px 0 0; }

.contact-us textarea {
  width: 322px;
  height: 130px;
  resize: none;
  background-color: #444444;
  color: gray;
  padding: 5px 15px;
  border: none;
  outline: none; }

.contact-us button {
  width: 322px;
  background-color: #2b9b2b;
  color: white;
  border-radius: 0 0 5px 5px;
  border: none;
  padding: 5px 0; }

.green-label {
  background-color: #54d154;
  padding: 1px 2px;
  border-radius: 2px;
  font-size: 0.9em; }

.orange-label {
  background-color: #ffba00;
  padding: 1px 2px;
  border-radius: 2px;
  font-size: 0.9em; }

.blue-label {
  background-color: #089dea;
  padding: 1px 2px;
  border-radius: 2px;
  font-size: 0.9em; }

.red-label {
  background-color: #f34d04;
  padding: 1px 2px;
  border-radius: 2px;
  font-size: 0.9em; }

.channels {
  background-color: #222222;
  padding-top: 30px;
  padding-bottom: 30px; }
  .channels .row:nth-child(1) {
    margin-bottom: 25px; }
  .channels h3 {
    color: #111111; }
  .channels .devider {
    background-color: #111111; }
  .channels img {
    margin-bottom: 10px; }

footer {
  background-color: black;
  padding-top: 10px; }
  footer p {
    color: white;
    margin-bottom: 5px; }
