body{
    background-color: #3C424A !important;
}

.listItem{
    margin-top: 10px;
    padding: 5px 10px;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    background-color: #31363D;
    border-radius: 2px;
}

.listItem p{
    margin-bottom: 8px;
}

.editArea{
    width: 100%;
}

.editArea input{
    width: 100%;
}

.list{
    display: flex;
    /* flex-wrap: wrap-reverse; */
    flex-direction: column;
}

.reverse{
    flex-direction: column-reverse;
}

.reverseToggle{
    border: none;
    background-color: transparent;
    outline: none;
    color: gray;
}

.reverseToggle:active, .reverseToggle:focus  {
    outline: 0;
    outline-offset: 0;
}

#inputTask{
    padding: 5px;
    border: none;
    outline: none;
    background-color: #5A5E64;
    color: white;
}

.inputTask{
    padding: 5px;
    border: none;
    outline: none;
    background-color: #5A5E64;
    color: white;
    /* width: 100%; */
}

#addTask{
    padding: 5px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 2px;
}

.addTask{
    padding: 5px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 2px;
    /* width: 100%; */
}

.delListItem{
    padding-top: 10px;
    animation-name: fadeOut;
    animation-duration: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.completed{
    /* text-decoration: line-through; */
    margin-top: 10px;
    padding: 5px 10px;
    color: lightgreen;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    background-color: #31363D;
    border-radius: 2px;
}

.completed p{
    text-decoration: line-through;
    margin-bottom: 8px;
}

.completeBtns{
    margin-left: 20px;
    border: none;
    color: lightgreen;
    font-weight: bold;
    font-size: 22px;
    background-color: transparent;
}

.delButns{
    /* margin-left: 20px; */
    border: none;
    color: red;
    font-weight: bold;
    font-size: 22px;
    background-color: transparent;
}

.bg-black{
    background-color: #3C424A;
    color: white;
}

.filterButton{
    padding: 5px 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 2px;
}

/* .container{
    height: 1000px;
} */

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}