

.menu{
    background-color: black;
    // width: 100%;
    button{
        background-color: transparent;
        border: none;
        i{
            color: white;
            font-size: 2rem;
        }
    }
}

.navMenu{
    button{
        background-color: transparent;
        border: none;
        i{
            font-size: 2rem;
        }
    }
}
.mainNav{
    p{
        margin-bottom: 0.1rem;
    }
}

#vertText{
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
}

.works{
    background-color: #f2f2f2;
    .photo{
        width: 100%;
        // height: 400px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

footer{
    p{
        font-size: 0.8rem;
        color: gray;
        
    }
    i{
        font-size: 2rem;
        color: gray;
    }
}

.menuList{
    background-color: white;
    width: 230px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;

    ul{
        padding-top: 3rem;
    }
    a{
        color: black;
        padding-left: 2rem;
        text-decoration: none;
        h5{
            margin-bottom: 0;
            padding-bottom: 0;
            padding-left: 2rem;
            font-size: 14px;
            font-weight: 400;
        }
        p{
            padding-left: 2rem;
            text-transform: uppercase;
            font-size: 12px;
            color: #a9a9a9;
        }
    }
}

.fixNavBar{
    position: fixed;
    z-index: 5;
    background-color: white;
    width: 86%;
    margin: auto;
}

.menuListBig{
    a{
        color: black;
        text-decoration: none;
        
        h5{
            margin-bottom: 0;
            padding-bottom: 0;
            padding-top: 0.5rem;
            padding-left: 2rem;
            font-size: 14px;
            font-weight: 400;
        }
        p{
            padding-left: 2rem;
            text-transform: uppercase;
            font-size: 12px;
            color: #a9a9a9;
        }
    }
}

.clients{
    p{
        color: #757575;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }
}

.close{
    button{
        background-color: transparent;
        border: none;
        font-size: 2rem;
        outline: none;
    }
}

.filterList{
    background-color: #222222;
    width: 400px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    box-shadow: 94px 0px 235px black;
    a{
        color: #999999;
        outline: none;
        border: none;
        padding-left: 1rem;
        p{
            padding-left: 2rem;
        }
        &:hover{
            color: white;
        }
        h5{
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}

.closeFilter{
    i{
        color: white;
    }
    button{
        background-color: transparent;
        border: none;
        font-size: 2rem;
        outline: none;
    }
}

#map {
    width: 95%;
    height: 400px;
}

.contactP{

    i{
        width: 24px;
        height: 24px;
        color: #222222;
        font-size: 1.3rem;
        padding-right: 2rem;
    }

    p{
        color: #222222;
        font-size: 16px;
        font-weight: 500;
    }

    .width{
        padding-left: 5rem;
        p{
            color: #222222;
            font-size: 14px;
            font-weight: 500;
            margin-left: 2rem;
        }
    }
}