a:hover {
  text-decoration: none; }

.menu {
  background-color: black; }
  .menu button {
    background-color: transparent;
    border: none; }
    .menu button i {
      color: white;
      font-size: 2rem; }

.navMenu button {
  background-color: transparent;
  border: none; }
  .navMenu button i {
    font-size: 2rem; }

.mainNav p {
  margin-bottom: 0.1rem; }

#vertText {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1); }

.works {
  background-color: #f2f2f2; }
  .works .photo {
    width: 100%;
    overflow: hidden;
    position: relative; }
    .works .photo:hover .photoLink {
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      top: 45%; }
    .works .photo:not(:hover) .photoLink {
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      top: 200%; }
    .works .photo .photoLink {
      position: absolute;
      top: -200px;
      left: 40%;
      color: white;
      -webkit-box-shadow: 0 0 125px 140px black;
      box-shadow: 0 0 125px 140px black;
      background-color: black; }
      .works .photo .photoLink a {
        text-decoration: none;
        color: white; }
    .works .photo img {
      width: 100%;
      height: 100%; }

footer p {
  font-size: 0.8rem;
  color: gray; }

footer i {
  font-size: 2rem;
  color: gray; }

.menuList {
  background-color: white;
  width: 230px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3; }
  .menuList ul {
    padding-top: 3rem; }
  .menuList a {
    color: black;
    padding-left: 2rem;
    text-decoration: none; }
    .menuList a:hover {
      text-decoration: none; }
    .menuList a h5 {
      margin-bottom: 0;
      padding-bottom: 0;
      padding-left: 2rem;
      font-size: 14px;
      font-weight: 400; }
    .menuList a p {
      padding-left: 2rem;
      text-transform: uppercase;
      font-size: 12px;
      color: #a9a9a9; }

.fixNavBar {
  position: fixed;
  z-index: 5;
  background-color: white;
  width: 86%;
  margin: auto; }

.menuListBig a {
  color: black;
  text-decoration: none; }
  .menuListBig a:hover {
    text-decoration: none;
    background-color: black;
    color: white; }
  .menuListBig a h5 {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 14px;
    font-weight: 400; }
  .menuListBig a p {
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    font-size: 12px;
    color: #a9a9a9; }

.clients p {
  color: #757575;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.close button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  outline: none; }

.filterList {
  background-color: #222222;
  width: 400px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  -webkit-box-shadow: 94px 0px 235px black;
  box-shadow: 94px 0px 235px black; }
  .filterList a {
    color: #999999;
    outline: none;
    border: none;
    padding-left: 1rem; }
    .filterList a p {
      padding-left: 2rem; }
    .filterList a:hover {
      color: white; }
    .filterList a h5 {
      margin-bottom: 0;
      padding-bottom: 0; }

.closeFilter i {
  color: white; }

.closeFilter button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  outline: none; }

#map {
  width: 95%;
  height: 400px; }

.contactP i {
  width: 24px;
  height: 24px;
  color: #222222;
  font-size: 1.3rem;
  padding-right: 2rem; }

.contactP p {
  color: #222222;
  font-size: 16px;
  font-weight: 500; }

.contactP .width {
  padding-left: 5rem; }
  .contactP .width p {
    color: #222222;
    font-size: 14px;
    font-weight: 500;
    margin-left: 2rem; }
